---
import BaseLayout from '@layouts/BaseLayout.astro';
import { Admin } from '@components/Admin';
import '../styles/global.css';
---

<BaseLayout title="管理后台 - Moments">
  <div class="mx-auto max-w-[960px]">
    <Admin client:load />
  </div>
</BaseLayout>
